<div class="panel-body">
    <form class="form-horizontal"
          novalidate
          #unitForm="ngForm">
        <fieldset>
            <legend>Basic Unit Information</legend>
            <div class="form-group" 
                    [ngClass]="{'has-error': (unitNameVar.touched || 
                                              unitNameVar.dirty || unit.id !== 0) && 
                                              !unitNameVar.valid }">
                <label class="col-md-2 control-label" 
                        for="unitNameId">Unit Name</label>

                <div class="col-md-8">
                    <input class="form-control" 
                            id="unitNameId" 
                            type="text" 
                            placeholder="Name (required)"
                            required
                            minlength="3"
                            [(ngModel)] = unit.unitName
                            name="unitName"
                            #unitNameVar="ngModel" />
                    <span class="help-block" *ngIf="(unitNameVar.touched ||
                                                     unitNameVar.dirty || unit.id !== 0) &&
                                                     unitNameVar.errors">
                        <span *ngIf="unitNameVar.errors.required">
                            Unit name is required.
                        </span>
                        <span *ngIf="unitNameVar.errors.minlength">
                            Unit name must be at least three characters.
                        </span>
                    </span>
                </div>
            </div>
            
            <div class="form-group" 
                    [ngClass]="{'has-error': (unitCodeVar.touched || 
                                              unitCodeVar.dirty || unit.id !== 0) && 
                                              !unitCodeVar.valid }">
                <label class="col-md-2 control-label" for="unitCodeId">Unit Code</label>

                <div class="col-md-8">
                    <input class="form-control" 
                            id="unitCodeId" 
                            type="text" 
                            placeholder="Code (required)"
                            required
                            [(ngModel)] = unit.unitCode
                            name="unitCode"
                            #unitCodeVar="ngModel" />
                    <span class="help-block" *ngIf="(unitCodeVar.touched ||
                                                     unitCodeVar.dirty || unit.id !== 0) &&
                                                     unitCodeVar.errors">
                        <span *ngIf="unitCodeVar.errors.required">
                            Unit code is required.
                        </span>
                    </span>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-2 control-label" for="descriptionId">Description</label>

                <div class="col-md-8">
                    <textarea class="form-control" 
                            id="descriptionId" 
                            placeholder="Description"
                            rows=3
                            [(ngModel)] = unit.description
                            name="description"></textarea>
                </div>
            </div>

            <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
        </fieldset>
    </form>
</div>